* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #F5F5F5;
    color: #171717;
}

::selection {
    background-color: #171717;
    color: #F5F5F5;
}

nav {
    padding: 10px;
}

.body-heavy {
    font-weight: 900;
    line-height: -1px;
    letter-spacing: -2px;
    font-size: 40px;
}

.brand-container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

.brand-icon {
      width: 20px;
      height: 20px;
      background: #171717;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #F5F5F5;
      font-weight: 900;
      font-size: 15px;
    }

.brand-name {
    font-weight: 800;
    color: #171717;
    text-decoration: none;
}

.logout {
    font-weight: 800;
    color: #767676;
    text-decoration: none;
}

.logout:hover {
    color: #171717;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 90px);
    text-align: center;
}

.heavy {
    font-weight: 900;
    line-height: -1px;
    letter-spacing: -2px;
    font-size: 60px;
}

.text-black {
    font-weight: 600;
    color: #171717;
    font-size: 15px;
}

.text {
    font-weight: 600;
    color: #9F9F9F;
    font-size: 15px;
}

.small {
    font-size: 10px;
}

.text a {
    text-decoration: none;
    color: #171717;
    font-weight: 800;
}

.forgot_password {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: #9F9F9F;
}

.forgot_password:hover {
    color: #171717;
}

.button {
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    border: none;
    background-color: #767676;
    color: #F5F5F5;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none !important;
}

.download {
    background-color: #F5F5F5;
    color: #171717;
    border: 1px solid #e7e7e7;
}

.download:hover {
    color: #F5F5F5;
}

.sign_in {
    background-color: #171717;
}

.button:hover {
    cursor: pointer;
    background-color: #171717;
}

.signin,
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-container {
    background-color: #F5F5F5;
    border-radius: 30px;
    border: 1px solid #e7e7e7;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.signin {
    display: none;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border: 1px solid #e7e7e7;
    border-radius: 16px;
    width: 100%;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border: 1px solid #9F9F9F;
    outline: none;
}

form .button {
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
}

.card {
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #e7e7e7;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.active {
    color: #2FB954 !important;
}

.inactive {
    color: #ED372D !important;
}

button {
    border: 1px solid #e7e7e7;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    font-weight: 800;
}

.time-in {
    background-color: #2FB954;
    color: #F5F5F5;
}

.time-in:hover {
    background-color: #32CD32;
}

.time-out {
    background-color: #ED372D;
    color: #F5F5F5;
}

.time-out:hover {
    background-color: #FF0000;
}

.progress {
    border-radius: 10px;
    background-color: #e7e7e7;
}

.progress-bar {
    width: 18%;
    background-color: #171717;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .heavy {
        font-size: 40px;
    }
}